flask
Flask-CORS
flask-socketio==5.3.6
flask-login
gevent
openai==0.27.8
requests
gunicorn==22.0.0
python-socketio==5.11.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
