Flask==2.3.3
Flask-CORS==4.0.1
flask-socketio==5.3.6
flask-login==0.6.3
openai==0.27.8
twilio==9.3.0
requests==2.31.0
gunicorn==22.0.0
python-socketio==5.11.0
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.134.0
python-dateutil==2.9.0.post0
eventlet==0.36.1
psycopg2-binary==2.9.9
werkzeug==3.0.3  # For password hashing
python-dotenv==1.0.1  # For loading environment variables
